app-picture-viewer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    .picture-card {
        box-shadow: none !important;
        width: max-content;
        height: max-content;
        &__img-wr {
            // position: relative;
        }
        &__img {
            height: auto;
            width: auto;
            transition: all .2s ease-in;
            &:hover {
                cursor: zoom-in;
            }
            &.zoomed {
                transform: scale(1.2);
            }
            &.faded-out {
                opacity: 0;
            }
            &.faded-in {
                opacity: 1;
            }
        }

        &__btn {
            outline: none;
            background-color: rgba(0, 0, 0, .45);
            .material-icons {
                color: #fff;
            }
        }        
        &__btn-left {
            position: fixed;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
        
        &__btn-right {
            position: fixed;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .info {
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 82px;
        background-color: rgba(0, 0, 0, .7);
        color: #fff;
        font-size: 1.7rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        &__header {
            font-weight: bold;   
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }
    .exit-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: rgba(255, 0, 0, 0.75) !important;
        outline: none !important;
    }
}