mat-dialog-container {
    padding: 0 !important;
    overflow: hidden !important;
}

// for image gallery
.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

.cdk-overlay-pane {
    max-width: 100% !important;
    width: 100% !important;
    height: 100% !important;
}

.mat-dialog-container {
    background: #fff;
}